<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="316000022"
	android:versionName="16.2.2_RM_0.4"
	android:compileSdkVersion="35"
	android:compileSdkVersionCodename="15"
	package="com.miui.calculator"
	platformBuildVersionCode="35"
	platformBuildVersionName="15"
	>
	<uses-sdk
		android:minSdkVersion="29"
		android:targetSdkVersion="35"
		>
	</uses-sdk>
	<uses-permission
		android:name="android.permission.INTERACT_ACROSS_USERS"
		>
	</uses-permission>
	<permission
		android:name="com.miui.calculator.permission.SHOW_FLOAT_WINDOW"
		>
	</permission>
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_WIFI_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.GET_TASKS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SYSTEM_ALERT_WINDOW"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SYSTEM_OVERLAY_WINDOW"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.FOREGROUND_SERVICE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_SECURE_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.xiaomi.market.sdk.UPDATE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.securitycenter.permission.SYSTEM_PERMISSION_DECLARE"
		>
	</uses-permission>
	<uses-permission
		android:name="miui.personalassistant.ACCESS_PROVIDER"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.personalassistant.permission.WIDGET_READ_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.personalassistant.permission.WIDGET_WRITE_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.notes.permission.ACCESS_NOTE"
		>
	</uses-permission>
	<meta-data
		android:name="miui_private_label"
		android:value="PRIVATE_V150"
		>
	</meta-data>
	<uses-permission
		android:name="android.permission.VIBRATE"
		>
	</uses-permission>
	<application
		android:label="@7F110024"
		android:icon="@7F0800CA"
		android:name="com.miui.calculator.CalculatorApplication"
		android:allowBackup="true"
		android:supportsRtl="true"
		android:extractNativeLibs="true"
		android:resizeableActivity="true"
		android:appComponentFactory="androidx.core.app.CoreComponentFactory"
		android:usesNonSdkApi="true"
		>
		<uses-library
			android:name="miui"
			android:required="false"
			>
		</uses-library>
		<meta-data
			android:name="miui_keyguard_shortcuts"
			android:resource="@7F140001"
			>
		</meta-data>
		<meta-data
			android:name="miui.supportFlipFullScreen"
			android:value="1"
			>
		</meta-data>
		<meta-data
			android:name="android.max_aspect"
			android:value="3.0"
			>
		</meta-data>
		<meta-data
			android:name="miui.screenOrientation"
			android:value="1.unspecified,2.portrait,3.unspecified"
			>
		</meta-data>
		<meta-data
			android:name="app_description_title"
			android:resource="@7F110303"
			>
		</meta-data>
		<meta-data
			android:name="app_description_content"
			android:resource="@7F110302"
			>
		</meta-data>
		<meta-data
			android:name="mi_stat_channel"
			android:value="miui"
			>
		</meta-data>
		<meta-data
			android:name="required_permissions"
			android:value="@7F110273"
			>
		</meta-data>
		<meta-data
			android:name="use_miui_font"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="miuiWidgetVersion"
			android:value="6"
			>
		</meta-data>
		<property
			android:name="android.view.PROPERTY_MIUI_SMOOTH_CORNER_ENABLED"
			android:value="true"
			>
		</property>
		<activity
			android:theme="@7F1200F2"
			android:label="@7F110024"
			android:name="com.miui.calculator.cal.CalculatorActivity"
			android:exported="true"
			android:launchMode="1"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			android:windowSoftInputMode="0x00000023"
			>
			<intent-filter
				>
				<action
					android:name="miui.fliphome.default"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
				<category
					android:name="android.intent.category.APP_CALCULATOR"
					>
				</category>
				<category
					android:name="miui.intent.category.SYSAPP_TOOL"
					>
				</category>
			</intent-filter>
			<meta-data
				android:name="android.app.shortcuts"
				android:resource="@7F140009"
				>
			</meta-data>
			<intent-filter
				>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<data
					android:scheme="calculator"
					android:host="com.miui.calculator"
					android:path="/home"
					>
				</data>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="mi.quicksearch.intent.action.RETRIEVE"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<meta-data
				android:name="mi.quicksearch.hints"
				android:resource="@7F140006"
				>
			</meta-data>
			<intent-filter
				>
				<action
					android:name="android.intent.action.SEARCH"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.miui.calculator.action.SCIENTIFIC_MODE"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.miui.calculator.action.CONVERT"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.miui.calculator.action.MAINPAGE"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<meta-data
				android:name="functionindex"
				android:resource="@7F140005"
				>
			</meta-data>
		</activity>
		<service
			android:label="@7F110024"
			android:icon="@7F0800CC"
			android:name="com.miui.calculator.service.QSTileService"
			android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
			android:enabled="true"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="android.service.quicksettings.action.QS_TILE"
					>
				</action>
			</intent-filter>
		</service>
		<activity
			android:theme="@7F1200F2"
			android:label="@7F110024"
			android:name="com.miui.calculator.cal.CalculatorTabActivity"
			android:exported="true"
			android:launchMode="2"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			android:windowSoftInputMode="0x00000003"
			>
			<intent-filter
				>
				<action
					android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="miui.fliphome.default"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F1200F5"
			android:label="@7F110024"
			android:name="com.miui.calculator.cal.DefaultCalculatorActivity"
			android:exported="true"
			android:launchMode="2"
			android:screenOrientation="3"
			android:windowSoftInputMode="0x00000003"
			>
		</activity>
		<activity
			android:theme="@7F1200F2"
			android:label="@7F110024"
			android:name="com.miui.calculator.cal.AllInOneCalculatorActivity"
			android:exported="true"
			android:launchMode="2"
			android:screenOrientation="3"
			android:windowSoftInputMode="0x00000003"
			>
		</activity>
		<activity
			android:theme="@7F1200ED"
			android:label="@7F1102B2"
			android:name="com.miui.calculator.tax.CityPickerActivity"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			>
			<property
				android:name="miui.continuity.policy"
				android:value="4"
				>
			</property>
		</activity>
		<activity
			android:theme="@7F1200ED"
			android:label="@7F1102BF"
			android:name="com.miui.calculator.tax.ResultOfTaxActivity"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			>
			<property
				android:name="miui.continuity.policy"
				android:value="4"
				>
			</property>
		</activity>
		<activity
			android:theme="@7F1200ED"
			android:label="@7F1102BC"
			android:name="com.miui.calculator.tax.AnnualBonusResultActivity"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			>
			<property
				android:name="miui.continuity.policy"
				android:value="4"
				>
			</property>
		</activity>
		<activity
			android:theme="@7F1200ED"
			android:label="@7F110221"
			android:name="com.miui.calculator.tax.ResultOfMortgageActivity"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			>
			<property
				android:name="miui.continuity.policy"
				android:value="4"
				>
			</property>
		</activity>
		<activity
			android:theme="@7F1200F5"
			android:label="@7F110476"
			android:name="com.miui.calculator.wordfigure.WordFigureActivity"
			android:exported="true"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			android:windowSoftInputMode="0x00000003"
			>
		</activity>
		<activity
			android:theme="@7F1200F5"
			android:label="@7F110096"
			android:name="com.miui.calculator.convert.CurrencyActivity"
			android:exported="true"
			android:launchMode="2"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			android:windowSoftInputMode="0x00000003"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.calculator.action.CURRENCY"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<property
				android:name="miui.continuity.policy"
				android:value="4"
				>
			</property>
		</activity>
		<activity
			android:theme="@7F1200F5"
			android:name="com.miui.calculator.convert.WidgetCurrencyActivity"
			android:exported="true"
			android:taskAffinity="com.miui.calculator.convert.WidgetCurrencyActivity"
			android:excludeFromRecents="true"
			android:launchMode="2"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			android:windowSoftInputMode="0x00000003"
			android:resizeableActivity="true"
			>
			<intent-filter
				>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<data
					android:scheme="calculator"
					android:host="com.miui.calculator"
					android:path="/convert/currency_activity"
					>
				</data>
			</intent-filter>
			<meta-data
				android:name="miui.screenOrientation"
				android:value="3.unset"
				>
			</meta-data>
			<property
				android:name="miui.window.DOT_ENABLED"
				android:value="false"
				>
			</property>
		</activity>
		<activity
			android:theme="@7F1200F5"
			android:label="@7F11026E"
			android:name="com.miui.calculator.relationship.RelationshipActivity"
			android:exported="true"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			android:windowSoftInputMode="0x00000003"
			>
			<intent-filter
				>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<action
					android:name="miui.intent.action.calculator.relationship"
					>
				</action>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F1200F7"
			android:name="com.miui.calculator.cal.CalSettingsActivity"
			android:exported="true"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			>
		</activity>
		<activity
			android:theme="@7F1200F7"
			android:label="@7F11025B"
			android:name="com.miui.calculator.setting.PrivacySettingActivity"
			android:exported="true"
			android:screenOrientation="3"
			>
		</activity>
		<activity
			android:theme="@7F1200F7"
			android:label="@7F11025A"
			android:name="com.miui.calculator.setting.PermissionInfoActivity"
			android:exported="true"
			android:screenOrientation="3"
			>
		</activity>
		<activity
			android:theme="@7F1200F3"
			android:label="@7F1100DE"
			android:name="com.miui.calculator.tax.ExtraDeductionPickActivity"
			android:exported="true"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			>
			<property
				android:name="miui.continuity.policy"
				android:value="4"
				>
			</property>
		</activity>
		<activity
			android:theme="@7F1200EB"
			android:label=""
			android:name="com.miui.calculator.tax.LicenseActivity"
			android:exported="false"
			android:excludeFromRecents="true"
			android:screenOrientation="3"
			>
			<property
				android:name="miui.continuity.policy"
				android:value="4"
				>
			</property>
		</activity>
		<activity
			android:theme="@7F1200F3"
			android:label="@7F11014F"
			android:name="com.miui.calculator.convert.global.activity.FinanceResultActivity"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			>
		</activity>
		<activity
			android:theme="@7F1200F3"
			android:label="@7F11017D"
			android:name="com.miui.calculator.convert.global.activity.StatisticActivity"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			>
		</activity>
		<activity
			android:theme="@7F1200F5"
			android:label="@7F11015E"
			android:name="com.miui.calculator.tax.TaxActivity"
			android:exported="true"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.calculator.action.TAX"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<property
				android:name="miui.continuity.policy"
				android:value="4"
				>
			</property>
		</activity>
		<activity
			android:theme="@7F1200F5"
			android:label="@7F11015F"
			android:name="com.miui.calculator.tax.MortgageActivity"
			android:exported="true"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.calculator.action.MORTGAGE"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<property
				android:name="miui.continuity.policy"
				android:value="4"
				>
			</property>
		</activity>
		<activity
			android:theme="@7F1200F3"
			android:label="@7F110162"
			android:name="com.miui.calculator.convert.BmiResultActivity"
			android:screenOrientation="3"
			>
		</activity>
		<activity
			android:theme="@7F1200F3"
			android:label="@7F1102C1"
			android:name="com.miui.calculator.cal.FiveInsuranceActivity"
			android:exported="false"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			>
			<property
				android:name="miui.continuity.policy"
				android:value="4"
				>
			</property>
		</activity>
		<activity
			android:theme="@7F1200EF"
			android:label="@7F110146"
			android:name="com.miui.calculator.cal.history.HistoryActivity"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			>
			<property
				android:name="miui.continuity.policy"
				android:value="4"
				>
			</property>
		</activity>
		<activity
			android:theme="@7F1200F1"
			android:label="@7F11017C"
			android:name="com.miui.calculator.global.share.ImageShareActivity"
			android:exported="false"
			android:launchMode="1"
			android:screenOrientation="3"
			>
		</activity>
		<provider
			android:name="androidx.core.content.FileProvider"
			android:exported="false"
			android:authorities="com.miui.calculator.fileprovider"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F140004"
				>
			</meta-data>
		</provider>
		<receiver
			android:name="com.miui.voiceassist.mvs.client.MvsClientReceiver"
			android:permission="com.miui.voiceassist.MVS_BROADCAST"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.voiceassist.mvs.client.ACTION_RESGISTER_MVS"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:label="@7F110477"
			android:name="com.miui.calculator.widget.CalWidgetProvider"
			android:exported="true"
			android:process=":widgetProvider"
			>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@7F140000"
				>
			</meta-data>
			<meta-data
				android:name="miuiWidget"
				android:value="true"
				>
			</meta-data>
			<intent-filter
				>
				<action
					android:name="android.appwidget.action.APPWIDGET_UPDATE"
					>
				</action>
				<action
					android:name="miui.appwidget.action.APPWIDGET_UPDATE"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:label="@7F110478"
			android:name="com.miui.calculator.widget.CurrencyWidgetProvider"
			android:exported="true"
			android:process=":widgetProvider"
			>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@7F140003"
				>
			</meta-data>
			<meta-data
				android:name="miuiWidget"
				android:value="true"
				>
			</meta-data>
			<meta-data
				android:name="miuiWidgetRefresh"
				android:value="exposure"
				>
			</meta-data>
			<meta-data
				android:name="miuiWidgetRefreshMinInterval"
				android:value="1800000"
				>
			</meta-data>
			<intent-filter
				>
				<action
					android:name="android.appwidget.action.APPWIDGET_UPDATE"
					>
				</action>
				<action
					android:name="miui.appwidget.action.APPWIDGET_UPDATE"
					>
				</action>
				<action
					android:name="UPDATE_CURRENCY"
					>
				</action>
				<action
					android:name="IS_NETWORK_CONNECTED"
					>
				</action>
				<action
					android:name="android.intent.action.LOCALE_CHANGED"
					>
				</action>
			</intent-filter>
		</receiver>
		<provider
			android:name="com.miui.calculator.widget.WidgetContentProvider"
			android:exported="false"
			android:authorities="com.miui.calculator.widget.provider"
			android:grantUriPermissions="true"
			>
		</provider>
		<meta-data
			android:name="miuixpreference"
			android:value="3.1"
			>
		</meta-data>
		<meta-data
			android:name="os_private_label"
			android:value="PRIVATE_OS030"
			>
		</meta-data>
		<meta-data
			android:name="appcompat"
			android:value="3.1"
			>
		</meta-data>
		<meta-data
			android:name="popupwidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="androidbasewidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="miuixstretchablewidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="slidingwidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="pickerwidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="miuixbasewidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="springback"
			android:value="3.1"
			>
		</meta-data>
		<meta-data
			android:name="viewpager2"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="recyclerview"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="nest"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="haptic"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="transition"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="dynamicoverscroller"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="recyclerview_animator"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="recyclerview_card"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="cardview"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="folme"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="smooth"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="devicebaseinfo"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="flexible"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="graphics"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="core"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="viewpager"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="animation"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="theme"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="spring"
			android:value="1.0"
			>
		</meta-data>
		<uses-library
			android:name="androidx.window.extensions"
			android:required="false"
			>
		</uses-library>
		<uses-library
			android:name="androidx.window.sidecar"
			android:required="false"
			>
		</uses-library>
	</application>
</manifest>
